/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* Shared styles for sections */
section .content {
    margin: auto;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

h1, h3 {
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: .45em;
}

h3 {
    font-size: 1.2rem;
    color: #006a92;
}

/* Header section */
header {
    display: flex;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: #F9FAF8;
    padding: 1.2rem;
}

header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .logo img {
    width: 100px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    padding-right: 3rem;
}

nav li {
    padding-left: 3.5rem;
}

nav a {
    text-decoration: none;
    vertical-align: bottom;
    font-size: 1.1rem;
    color: #006a92;
}

nav a:hover {
    color: #02a9e6;
}

/* Mission */
.mission {
    display: flex;
    height: 300px;
    background: url(../img/background-img1.jpg) no-repeat fixed center;
}

/* Portfolio */
#portfolio {
    min-height: 200px;
    margin: auto;
    padding: 100px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.company {
    width: calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    padding: 10px;
}


.company img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    max-height: 200px;
    display: block;
    border-radius: 5px;
    padding-bottom: 15px;
}


span {
    font-weight: bold;
}
